# Глобальные настройки
* text=auto

# Документация и текстовые файлы
*.md text
*.txt text

# Конфигурационные файлы и разметка
*.cfg text
*.json text
*.jsonc text
*.toml text
*.xml text
*.yaml text
*.yml text

# Исходный код
*.cs text
*.gradle text
*.rs text
*.sh text eol=lf

# Проекты и сборка
*.csproj text
*.lock text
*.sln text

# Ресурсы и сцены Unity
*.anim text eol=lf
*.asset text eol=lf
*.controller text eol=lf
*.mat text eol=lf
*.meta text eol=lf
*.prefab text eol=lf
*.unity text eol=lf

# Изображения
*.bmp binary
*.gif binary
*.jpeg binary
*.jpg binary
*.png binary
*.webp binary

# Аудио
*.flac binary
*.mp3 binary
*.ogg binary
*.wav binary

# Архивы и пакеты
*.7z binary
*.unitypackage binary
*.zip binary

# Базы данных и карты
*.db binary
*.db-shm binary
*.db-wal binary
*.mapb binary

# Библиотеки и исполняемые файлы
*.a binary
*.dll binary
*.dylib binary
*.exe binary
*.pdb binary
*.so binary
*.wasm binary
