services:
  server:
    image: ${IMAGE}:${IMAGE_SHA}
    init: true
    restart: unless-stopped
    ports:
      - "8090:8090"
    environment:
      - RUST_BACKTRACE=1
      - M3R_DATA_DIR=/data
      - M3R_ADMIN_TOKEN=${ADMIN_TOKEN}
      - M3R_GRANT_ADMIN=1337
      - M3R_REGEN_WORLD=0
      - M3R_USE_CTRL_C=false
    volumes:
      - server_data:/data

volumes:
  server_data:
    name: openmines_server_data
